# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  #
  #
  #    name: "GitHub Pages Tests"
  #    runs-on: ubuntu-latest
  #    strategy:
  #      matrix:
  #        ruby:
  #          - 2.5
  #          - 2.6
  #    steps:
  #    - uses: actions/checkout@master
  #    - name: script/cibuild-docker
  #      run: script/cibuild-docker
  #      env:
  #        RUBY_VERSION: ${{ matrix.ruby }}
  #
  #
## Docker Configs

  ubuntu-latest-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Make
        run: |
          git clone https://github.com/bitcoin-dot-org/Bitcoin.org.git ~/Bitcoin.org
          SITE=~/Bitcoin.org make image
          #SITE=~/Bitcoin.org make server

  ubuntu20-docker:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Make
        run: |
          git clone https://github.com/bitcoin-dot-org/Bitcoin.org.git ~/Bitcoin.org
          SITE=~/Bitcoin.org make image
          #SITE=~/Bitcoin.org make server

  ubuntu18-docker:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Make
        run: |
          git clone https://github.com/bitcoin-dot-org/Bitcoin.org.git ~/Bitcoin.org
          SITE=~/Bitcoin.org make image
          #SITE=~/Bitcoin.org make server

  ubuntu18-make-image:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Make
        run: |
          make image port=4444

